<div id="feedbackPage" class="container">

 <div>
  <div id="feedbackContent" class="col-md-8 col-md-offset-2">
  <h1>Give us your feedback</h1>
  <p>We'd love to hear what you think of the site. If you have any feedback please fill out the form below. </p>
   <form>
  <div class="form-group">
   <label for="feedbackName">Your name</label>
   <input id="feedbackName" class="form-control" type="text" value="" />
  </div>
  <div class="form-group">
   <label for="feedbackEmail">Your email</label>
   <input id="feedbackEmail" class="form-control" type="email" value="" />
  </div>
  <div class="form-group">
   <label for="feedbackMessage">Your feedback</label>
   <textarea id="feedbackMessage" class="form-control" value=""></textarea>
  </div>
  <div class="form-group clearfix">
   <input id="feedbackSend" class="button btn btn-success success right green" type="submit" value="Send Feedback" />
  </div>
 </form>
  </div>
 </div>
</div>