<div id="homePage">

 <form id="searchForm" action="services" role="form">
  <div class="container">
   <div class="form-group col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
     <label class="" for="exampleInputEmail2">What are you looking for?</label>
     <input type="search" id="searchBox" name="keyword" class="form-control" placeholder="Text input">

     <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
   </div>
  </div><!-- /.container -->
 </form>

 <div class="container">
  <ul id="searchLinks" class="col-md-8 col-md-offset-2">

    <li id="whats-near" class="col-md-12  col-sm-12">
      <a href="" class="button near">What's near me?</a>
    </li>

    <% for category in CATEGORIES %>
      <li class="col-md-6 col-sm-6">
        <%= link_to category, services_path("category[]" => category), class: "button #{category.parameterize}" %>
      </li>
    <% end %>

  </ul>
 </div><!-- /.container -->
</div>