<div id="homePage">

 <form id="searchForm" role="form">
  <div class="container">
   <div class="form-group col-md-8 col-md-offset-2">
     <label class="" for="exampleInputEmail2">What are you looking for?</label>
     <input type="search" id="searchBox" class="form-control" placeholder="Text input">
     <button type="submit" class="btn btn-default">Submit</button>
   </div>
  </div><!-- /.container -->
 </form>

 <div class="container">
  <ul id="searchLinks" class="col-md-10 col-md-offset-1">

    <li id="whats-near" class="col-md-6"><a href="">What's near me?</a></li>
    <li class="col-md-6"><a href="map.html">Childcare services</a></li>
    <li class="col-md-6"><a href="map.html">For babies</a></li>
    <li class="col-md-6"><a href="map.html">Sports clubs</a></li>
    <li class="col-md-6"><a href="map.html">Dance classes</a></li>
    <li class="col-md-6"><a href="map.html">Drama groups</a></li>
    <li class="col-md-6"><a href="map.html">Outdoor activities</a></li>
    <li class="col-md-6"><a href="map.html">Swimming</a></li>
    <li class="col-md-6"><a href="map.html">Youth groups</a></li>

  </ul>
 </div><!-- /.container -->
</div>