<div id="homePage">

 <form id="searchForm" role="form">
  <div class="container">
   <div class="form-group col-md-8 col-md-offset-2">
     <label class="" for="exampleInputEmail2">What are you looking for?</label>
     <input type="search" id="searchBox" class="form-control" placeholder="Text input">

     <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
   </div>
  </div><!-- /.container -->
 </form>

 <div class="container">
  <ul id="searchLinks" class="col-md-10 col-md-offset-1">

    <li id="whats-near" class="col-md-6  col-sm-12"><a href="" class="button highlight">What's near me?</a></li>
    <li class="col-md-6 col-sm-6"><a href="map.html" class="button">Childcare services</a></li>
    <li class="col-md-6 col-sm-6"><a href="map.html" class="button">For babies</a></li>
    <li class="col-md-6 col-sm-6"><a href="map.html" class="button">Sports clubs</a></li>
    <li class="col-md-6 col-sm-6"><a href="map.html" class="button">Dance classes</a></li>
    <li class="col-md-6 col-sm-6"><a href="map.html" class="button">Drama groups</a></li>
    <li class="col-md-6 col-sm-6"><a href="map.html" class="button">Outdoor activities</a></li>
    <li class="col-md-6 col-sm-6"><a href="map.html" class="button">Swimming</a></li>
    <li class="col-md-6 col-sm-6"><a href="map.html" class="button">Youth groups</a></li>

  </ul>
 </div><!-- /.container -->
</div>