var initialiseMap = function(map_id){
  var map = L.map(map_id).setView([56.11, -3.74], 11);
  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  return map;
};

// Adding locations to the map






var addLocationsToMap = function(locations, map){
  var normalIcon = L.icon({
    iconUrl: '<%= asset_path('marker-icon.png') %>',
    //iconRetinaUrl: '<%= asset_path('my-icon@2x.png') %>',
    iconSize: [35, 45],
    iconAnchor: [13, 41],
    popupAnchor: [0, -41],
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',
    shadowSize: [41, 41],
    shadowAnchor: [13, 41]
  });

  var hoverIcon = L.icon({ iconUrl: '<%= asset_path('highlight-icon.png') %>' });

  var markers = {};
  var markerGroup = new L.MarkerClusterGroup();

  $(locations).each(function(i,l){
    var m = L.marker([l.latitude, l.longitude], { icon: normalIcon });//.addTo(map);
    var popup_content = '<a href="' + l.service_path + '">'+l.service_name+'</a> at '+l.name;
    var p = m.bindPopup(popup_content);//.openPopup();
    markers[l.slug] = { popup: p, marker: m, service: l.service };
    enableIdentifyMarkerFromListItem("li#service-"+l.service, m, hoverIcon, normalIcon);
    markerGroup.addLayer(m);
  });

  map.addLayer(markerGroup);
  return markers;
};

var enableIdentifyMarkerFromListItem = function(li, marker, hoverIcon, normalIcon){
  $(li).mouseenter(function(){
    marker.setIcon(hoverIcon);
  }).mouseleave(function(){
    marker.setIcon(normalIcon);
  });
};
