$(document).ready(function(){

  // Fixing the height of panels on the Search Page
  if ($(window).width() > 960) {
    var windowHeight = $(window).height();
    var minusFooterHeader = ($('.navbar').outerHeight() + $('footer').outerHeight());
    $('#resultsPage').css({height: windowHeight - minusFooterHeader});
  }

  $("#yourBudget").slider({});
  $("#childrenAge").slider({});

  $('button#filterResults').click(function() {
    $('#mapPanel').hide();
    $('#filtersForm').show();
  });

  $('button#doSearch').click(function() {
    $('#mapPanel').show();
    $('#filtersForm').hide();
  });

  $('button#showList').click(function() {
    $('#resultsList').show();
    $('#mapPanel').hide();
  });
  $('button#showMap').click(function() {
    $('#resultsList').hide();
    $('#mapPanel').show();
  });

  // Reset the form fields
  $( ".selectAll.check" ).click(function() {
    $(this).parent('.form-group').find('.CKcheckbox').prop('checked', true);
    return false;
  });

});


// Initialising the map

var initialiseMap = function(){
  var map = L.map('mapResults').setView([56.11, -3.74], 11);
  // add an OpenStreetMap tile layer
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  return map;
};



// Adding locations to the map
// TODO: use marker cluster - https://github.com/Leaflet/Leaflet.markercluster
var addLocationsToMap = function(locations, map){
  var normalIcon = L.icon({
    iconUrl: '<%= asset_path('marker-icon.png') %>',
    //iconRetinaUrl: '<%= asset_path('my-icon@2x.png') %>',
    iconSize: [35, 45],
    iconAnchor: [13, 41],
    popupAnchor: [0, -41],
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',
    shadowSize: [41, 41],
    shadowAnchor: [13, 41]
  });

  var hoverIcon = L.icon({ iconUrl: '<%= asset_path('highlight-icon.png') %>' });

  var markers = {};
  $(locations).each(function(i,l){
    var m = L.marker([l.latitude, l.longitude], { icon: normalIcon }).addTo(map);
    var p = m.bindPopup('<b>'+l.name+'</b><br>' + '' + '.');//.openPopup();
    markers[l.slug] = { popup: p, marker: m, service: l.service };
    enableIdentifyMarkerFromListItem("li#service-"+l.service, m, hoverIcon, normalIcon);
  });

  return markers;
};

var enableIdentifyMarkerFromListItem = function(li, marker, hoverIcon, normalIcon){
  $(li).mouseenter(function(){
    marker.setIcon(hoverIcon);
  }).mouseleave(function(){
    marker.setIcon(normalIcon);
  });
};
