
$main-blue:     #336699;
$light-blue:    #81a7cc;
$dark-grey:     #dbdbdb;
$light-grey:    #f0f0f0;
$yellow:        #ffda00;
$bright-blue:   #428bca;
$green:         #449d44;
$orange:        #d45518;

@mixin rounded ($radius: 2px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -khtml-border-radius: $radius;
}

@mixin box-sized () {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* LAYOUT STYLES *******************/
body {
  color: $main-blue;
  font-family: 'Lato', sans-serif;
}
.navbar {

}
footer {
  padding: 20px;
  border-top: 1px solid black;
}

.navbar-header{
 text-align: center;
 .navbar-toggle {
   background: $main-blue;
   position: absolute;
   right: 0;
   float: none;
   .icon-bar { background: white;}
 }
 .navbar-brand {
  float: none;
  height: auto;
  display: block;
  padding: 0;
  margin: 0.5em 0 0 0;
  color: #2c588b;
  img {
   margin: 0 auto;
   max-width: 250px;
  }
 }
}

.navbar-nav {
  li {
   margin: 1em;
   a {
    color: white; font-weight: 600;
    padding: 0 0 2px 0;
    &:hover { background: none; border-bottom: 2px solid white; padding: 0;}
      }
   }
 }


/* BUTTON STYLES *******************/
.button {
 color: black;
 padding: 0.5em 1em;
 border: none;
 background: $light-grey;
 @include rounded(2px);
 font-weight: bold;
 -webkit-box-shadow: 0px 3px 0px 0px rgba(200, 200, 200, 0.55);
 -moz-box-shadow:    0px 3px 0px 0px rgba(200, 200, 200, 0.55);
 box-shadow:         0px 3px 0px 0px rgba(200, 200, 200, 0.55);
}

.button.small {
 padding: 0.15em 0.75em;
}


/* HOME STYLES *******************/
#homePage {

  #searchForm {
    text-align: center;
    margin: 3em 0 2em 0;
    .form-group {
      padding-left: 0;
      padding-right: 0;
    }
    label {
      font-size: 2em;
      color: white;
      margin: 0.75em 0 0.15em 0;
    }
    input#searchBox {
      width: 80%;
      display: inline;
      border-top-right-radius:0em;
      border-bottom-right-radius:0em;
      border: none;
      height: 35px;
    }
    button[type=submit] {
      border-top-left-radius:0em;
      border-bottom-left-radius:0em;
      position: relative;
      left: -2px;
      top: -2px;
      border: none;
      padding: 7px 12px;
      height: 35px;
    }
  }

  #searchLinks {
    list-style: none;

    li {
      margin-bottom: 1em;
     a {
      display: block;
      font-size: 1.5em;
      padding: 20px 50px;
     }
    }
   }
}

/* SEARCH FORM STYLES *******************/
#filtersForm {
  background: $main-blue;
  width: 25%;
  float: left;
  height: 100%;
  overflow: scroll;

  form {
    margin: 1em;
    color: white;

    label {
     display: inline-block;
     font-size: 1.25em !important;
     padding: 0.25em 0 0 0;
     text-align: left;
     span.glyphicon { font-size: 0.75em; }
     }

    a.selectAll {float: right;}

    ul.checkBoxes {
     list-style: none;
     padding: 0;
     label {
      font-weight: 300;
      font-size: 1em !important;
      input {margin-right: 0.5em;}
     }
    }
    #selectDays li {
      display: inline-block;
    }

    .slider.slider-horizontal {
      width: 85%;
      height: 20px;
     }
   }
}


/* SEARCH RESULTS STYLES *******************/

#resultsPage {

  address { color:#888; }

  .double-button-group {
     background: $main-blue;
     padding: 0 0 1em 0;
     button, a {
       width: 49%;
       font-size: 1.25em;
       color: $main-blue;
       span.glyphicon {margin-right: 0.25em;}

       &.orange { color: white; background: $orange; box-shadow: #b14714;}
       &.search { color: $main-blue;}
       &.clear { color: $orange; }
       &.right {  float: right; }
     }
   }

  #resultsList {
    background: white;
    overflow: scroll;
    border: 1px solid;
    border-bottom: none;
    border-top: none;
    width: 25%;
    float: left;
    height: 100%;

    ul {
     list-style: none;
     padding: 0;
     li {
       border-bottom: 1px solid black;
       padding: 1em;
       h3 {font-size: 21px; color: #0e3e6c;}
       p {color: $orange;}
       * {margin: 0;}
     }

   }
  }


}

#mapPanel {
  width: 50%;
  height: 100%;
  display: block;
  float: right;
}

#resultsPage #mapPanel #mapResults{
  width: 100%;
  height: 100%;
  display: block;
}




#tooltip {
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 5px;
}

		#tooltip {
			font-family: Ubuntu, sans-serif;
			font-size: 0.875em;
			text-align: center;
			text-shadow: 0 1px rgba( 0, 0, 0, .5 );
			line-height: 1.5;
			color: #fff;
			background: #333;
			background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .8 ) ), to( rgba( 0, 0, 0, 1 ) ) );
			background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .8 ), rgba( 0, 0, 0, 1 ) );
			background: -moz-linear-gradient( top, rgba( 0, 0, 0, .8 ), rgba( 0, 0, 0, 1 ) );
			background: -ms-radial-gradient( top, rgba( 0, 0, 0, .8 ), rgba( 0, 0, 0, 1 ) );
			background: -o-linear-gradient( top, rgba( 0, 0, 0, .8 ), rgba( 0, 0, 0, 1 ) );
			background: linear-gradient( top, rgba( 0, 0, 0, .8 ), rgba( 0, 0, 0, 1 ) );
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border-top: 1px solid #fff;
			-webkit-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
			-moz-box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
			box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
			position: absolute;
			z-index: 100;
			padding: 5px;
		}

			#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
				border-top: 10px solid #333;
    border-top-color: rgba( 0, 0, 0, .7 );
				content: '';
				position: absolute;
				left: 50%;
				bottom: -10px;
				margin-left: -10px;
			}
				#tooltip.top:after {
			  border-top-color: transparent;
					border-bottom: 10px solid #333;
			  border-bottom-color: rgba( 0, 0, 0, .6 );
					top: -20px;
					bottom: auto;
				}
				#tooltip.left:after {
					left: 10px;
					margin: 0;
				}
				#tooltip.right:after {
					right: 10px;
					left: auto;
					margin: 0;
				}



/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  body {
   background: url('ck-background-mobile.png') top center #77a441 no-repeat;;

    .navbar-collapse {
      border-top: none;
      box-shadow: none;
    }

  #homePage input#searchBox {
    width: 60% !important;
    display: inline;
  }
  #filtersForm,
  #resultsList,
  #mapResults {
    width: 100% !important;
    height: auto !important;
  }
  #filtersForm {
    width: 100% !important;
    z-index: 1000;
    height: 100% !important;
    display: none;
  .double-button-group {padding: 0 0 1em 0 !important;}
  }
  #resultsList {
    height: 100% !important;
    display: none;
  }
  #mapResults, #mapPanel {
    width: 100% !important;
    z-index: 1000;
    height: 600px !important;
  }
  .double-button-group {padding: 1em !important;}

  footer {
    display: none;
  }
 }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
     background: url('ck-background-desktop.png') top center #77a441 no-repeat;
     padding-top: 2em;
  }
  .navbar {
    margin-bottom: 0;
    .navbar-nav {
      float: right;
    }
    .navbar-header {
      float: none;
      position: relative;
      top: -1em;
      .navbar-brand {
       margin: 0 auto;
       display: inline-block;
      }
    }
    .navbar-collapse {
      position: absolute;
      top: -2em;
      z-index: 1000;
      right: 0;
      border-top: none;
      box-shadow: none;
    }
  }
  #homePage {
   margin-top: 80px;
  }
  .tab-content > .tab-pane {
    display: block !important;
  }
  #resultsList {
    .double-button-group{
      display: none;
    }
  }
  #mapPanel {
    .double-button-group {
      display: none;
    }
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  li#whats-near {
    display: none;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
